<h1 mat-dialog-title>Editar informações</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Nome da Fazenda</mat-label>
    <input matInput [(ngModel)]="data.name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Área</mat-label>
    <input matInput [(ngModel)]="data.area">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Centróide</mat-label>
    <input matInput [(ngModel)]="data.centroid">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Geometria</mat-label>
    <input matInput [(ngModel)]="data.geometry">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Pertencente</mat-label>
    <input matInput [(ngModel)]="data.owner">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Confirmar</button>
</div>
